.card_format {
			text-align: center;
			margin-left: 16%;
			margin-bottom: 5%;
			width: 70%;
			/*border-radius: 6px;*/
			transition: .25s;
			box-shadow: 0 0px 15px 1px grey;
		}
.card_format:hover{
			box-shadow: 0 0px 20px 1px black;
		}
.card_format img {
			/*border-radius: 6px 6px 0 0;*/
		}
.card_format p {

			padding: 2px 16px;
			margin: 0;
		}